# Ignore virtual environment
venv/
myenv/
*.pyc
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env
.DS_Store

# Ignore system files (Mac/Windows)
Thumbs.db

.vscode/
.idea/